  <main id="main" class="main">

<div class="row">
<div class="col-6 col-sm-12">


<table class="table  mt-5 ">
  <thead>

     <a href="/admin/add-products" class="btn btn-success ml-auto">ADD Product</a>

    <tr>
      <th scope="col">No</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">OfferPrice</th>
      <th scope="col">Offer%</th>

      <th scope="col">Brand</th>
      <th scope="col">Stock</th>
 
      <th scope="col">Image</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <th scope="row">{{indexing @index}}</th>
      <td>{{this.name}}</td>
 
      {{#if offer}}
     <td>{{this.originalPrice}}</td>
   <td>{{this.price}}</td>
    <td>{{this.highOfferPercent}}</td>
    {{else}}
    <td>{{this.originalPrice}}</td>
   <td>No offer</td>
    <td>0</td>

      {{/if}} 
      <td>{{this.brandName}}</td>
      <td>{{this.stock}}</td>

  
      <td><img src="/images/product/{{this.img.[1]}}" alt="Product image" class="product-image" style="width:4rem; height:4rem"></td>
      <td><a class="btn btn-success" href="/admin/edit-product/{{this._id}}">Edit</a></td>
      {{#if this.visiblity}}
      <td><a class="btn btn-danger" href="/admin/block/{{this._id}}">Hide</a></td>
      {{else}}
            <td><a class="btn btn-success" href="/admin/unblock/{{this._id}}">Unhide</a></td>
            {{/if}}
        <td><a class="btn btn-success" href="/admin/delete-product/{{this._id}}" onclick="return confirm('Are you sure you want to delete {{this.name}}')">Delete</a></td>

    </tr>
    {{/each}}
  </tbody>
</table>
   </div>
   </div>

  </main>